services:
  postgres:
    image: postgres:17
    container_name: trainity_postgres
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: trainitydb
      PGDATA: /var/lib/postgresql/data/17/main
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U user -d trainitydb"]
      interval: 5s
      timeout: 3s
      retries: 10
      start_period: 10s
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: trainity_backend
    ports:
      - "1337:1337"
    volumes:
      - ./backend:/app
      - /app/node_modules
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    develop:
      watch:
        - action: sync
          path: ../backend
          target: /app

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    container_name: trainity_frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - backend
    env_file:
      - .env
    develop:
      watch:
        - action: sync
          path: ./frontend
          target: /app

volumes:
  postgres_data: